@model CatalogManager.Models.Category


<div class="row category">
    <h2>Category: @Html.ActionLink(@Model.Name, "Index", "Category", new { name = @Model.Name }, null)
    @Html.ActionLink("Update", "Edit", "Category", new {name = @Model.Name, @pageType = @ViewData["PageType"]}, new {@class = "btn btn-primary btn-large"})
    @Html.ActionLink("Delete", "Delete", "Category", new {name = @Model.Name, @pageType = @ViewData["PageType"]}, new {@class = "btn btn-primary btn-large"})
</div>