@model CatalogManager.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr/>
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.HiddenFor(model => model.Name, new {@Name = "originalCategoryName"})
                @if (ViewBag.ParentCategoryName != null)
                {
                    @Html.Hidden("ParentCategoryName", (object) ViewBag.ParentCategoryName.ToString(), new {@Name = "ParentCategoryName"})
                }
                @if (ViewBag.ParentCategoryName != null)
                {
                    @Html.Hidden("PageType", (object) ViewBag.PageType.ToString(), new {@Name = "PageType"})
                }

                @Html.Hidden("PreviousUrl", (object) ViewBag.PreviousUrl.ToString())

                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}