@model CatalogManager.Models.Category
@{
    ViewBag.Title = "Catalog";
    ViewBag.PageType = "Category";
    ViewBag.ParentCategoryName = Model.Name;
}


<div class="jumbotron">
    <h1>Category: @Model.Name</h1>
    @Html.Hidden("PreviousUrl", (object) ViewBag.PreviousUrl.ToString())
    @Html.Hidden("ParentCategoryName", @Model.Name, new {@Name = "ParentCategoryName"})

</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            Products
        </div>
        <div class="row products">
            @if (Model.Products != null)
            {
                foreach (var product in Model.Products)
                {
                    @Html.Partial("_ProductPartial", Model.AllProducts[product])
                }

                <div class="col-md-4 product">
                    @Html.ActionLink("Add Product", "Create", "Product", new {@ParentCategoryName = Model.Name}, new {@class = "btn btn-primary btn-large"})

                </div>
            }


        </div>
        <div class="row categories">
            @if (Model.SubCategories != null)
            {
                foreach (var subCategory in Model.SubCategories)
                {
                    @Html.Partial("_CategoryPartial", Model.AllCategories[subCategory], ViewData)
                }
                <div class="row category">
                    @Html.ActionLink("Add SubCategory", "Create", "Category", new {@ParentCategoryName = Model.Name}, new {@class = "btn btn-primary btn-large"})
                </div>
            }


        </div>
    </div>

</div>